
.container{
    display: flex;
    width: 80%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    height: 70vh ;
}

.containertext{
    display: flex;
    flex-direction: column;
    gap: 25px;  

}
   
.containertext h2{
    font-size: 40px;
    line-height: 100%;
    font-weight: 900;
    text-transform: uppercase;
    text-align: justify;
}

.containertext p{
    width: 570px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    font-family: 'Inter';
}


.containerblue{
    color: #00E4FF;
}

.styledbuttons{
    background-color: #0D0035;
    color: #EEEEEE;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 300;
    border: 1px solid #803EB4;
    border-radius: 16px;
    padding: 13px 30px 13px 30px;
    width: fit-content;
    font-family: 'Inter';
}

.styledbuttons:hover{
    background: linear-gradient(322.68deg, #803EB4 36.47%, #4F25CC 92.31%);
    font-weight: 700;
    font-size:16px;
}
.containerbuttons{
    display: flex;
    gap: 20px;
}