.container{
    display: flex;
}

.containerleft{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image: url('/images/Login/bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
    height: 100vh;
}

.containerleft a{
    padding: 22px;
}

.terms{
    display: flex;
    gap: 12px;
    color: #7D7F96;
    font-weight: 400;   
    font-size: 14px;
    line-height: 21px;
}

.termsleft{
    display: flex;
    flex-direction: column;
}

.termsleft p{
    color: #7D7F96;
    font-weight: 400;   
    font-size: 14px;
    line-height: 21px;
}

/* Container right*/

.divtext{
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.divtext h1{
    text-align: center;
}


.containerbutton{
    display: flex;
    width: 60%;
    border-bottom: 1px solid #A3A3A3 ;
    justify-content: center;
    align-items: center;
    gap: 35px;
}

.containerbutton button{
    margin-bottom: 5px;
    border: none;
    background: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    cursor: pointer;
}

.termsleft h4{
    color: #00E4FF;
    font-weight: 400;   
    font-size: 14px;
    line-height: 21px;
}

.footerleft{
    display: flex;
    justify-content: space-between;
    padding: 22px;
}

.containerright{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #070A29;
    width: 50%;
}

.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 80%;
    margin: 0 auto;
}

.containerright h1{
    font-weight: 900;
    font-size: 38px;
    line-height: 44px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #00E4FF;
}
.container p{
    display: flex;
    align-items: center;
    text-align: center;

    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.active{
    width: 100px;
    border-bottom: 3px solid #803EB4;
    margin-bottom: -1px;
    color: white;
}

.inactive{
    color: #7D7F96;
}


.inputcontainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    width: 60%;
}

.inputcontainer button{
    justify-content: center;
    align-items: center;
    padding: 6px 0px;
    gap: 10px;
    background: linear-gradient(322.68deg, #803EB4 36.47%, #4F25CC 92.31%);
    border-radius: 12px;
    border: none;
    width: 100%;

    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    cursor: pointer;
}

.inputcontainer a{
    align-self: flex-end;
    font-size: 12px;
    color: #7D7F96;
}

.listsocials{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 14px;
}


.listsocials span{
    align-self: center;
    font-size: 12px;
    color: #7D7F96;
}

.listsocials span::before{
    content: '———————';
    padding: 20px;
}

.listsocials span::after{
    content: '———————';
    padding: 20px;
}


.listsocials ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 18px;
    list-style: none;
    
}

.listsocials ul li{
    border: 1px solid #4F25CC;
    border-radius: 12px;
    padding: 14px;
}

.logintext{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}
