.section{
    width: 100%;
    height: 50%;
    box-sizing: border-box;
    background-image: linear-gradient(to bottom, rgba(84, 140, 251, 0.3), rgba(117, 151, 219, 0.3));
    background-color: linear-gradient(80.65deg, rgb(84, 140, 251) 60%, rgba(117, 151, 219, 0.6) 100.74%);
    background-blend-mode: overlay;
    box-shadow: 2px 4px 18px rgba(0, 0, 0, 0.25);

    display: flex;
    justify-content: space-around;
    gap: 12px;
    align-items: center;

    border-radius: 16px;
    padding: 10px 15px;

}

.inputtext{
    width: 45%;
    height: 100%;
}

.inputtext h2{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
}

.buttons{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 12px;
    margin-top: 10px;
}

.buttons button{
    border: none;
    color: #00E4FF;
    background-color: inherit;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;

    cursor: pointer;
}

.address{
    background-color: inherit;
    width: 90%;
    height: fit-content;
    padding: 12px;
    border: 1px solid #2D6DE9;
    border-radius: 16px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 150%;
}