.card{
  height: 430px;
  width: 300px;
  padding: 10px;
  background-color: #211546;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 13px;
  gap: 12px;
}

.card h2{
  font-family: 'Inter';
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
}

.card h3{
  font-family: 'Inter';
  font-weight: 700;
  font-size: 12px;
  text-transform: uppercase;
  color: #DD851D;
}

.card h4{
  font-family: 'Inter';
  font-weight: 400;
  font-size: 13px;
  line-height: 19.5px;
  color: #CBC8D3;
}

.trending{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.trending p{
  font-family: 'Inter';
  font-weight: 400;
  font-size: 13px;
  line-height: 19.5px;
  color: #4ADF3A;
}

.values{
  display: flex;
  justify-content: space-between;
}

.values h4{
  font-family: 'Inter';
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #4ADF3A;
}

.quantity{
  display: flex;
}

.quantity p{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 150%;
  color: #A3A3A3;
}

.image img{
  border-radius: 13px;
  -webkit-mask-image: linear-gradient(0, rgba(25, 17, 50, 0) 0%, #191132 70%);
  mask-image: linear-gradient(0, rgba(25, 17, 50, 0) 0%, #191132 70%);
}

.containerbuttons{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.containerbuttons button{
  background-color: #211546;
  border: 1px solid #4F25CC;
  padding: 16px 30px;
  border-radius: 12px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  cursor: pointer;
}

.containerbuttons button:hover{
  background: linear-gradient(322.68deg, #803EB4 36.47%, #4F25CC 92.31%);
}